
@forward 'element-plus/theme-chalk/src/dark/var.scss' with (
	$colors: (
		'primary': (
				'base': #20a53a,
			),
			'success': (
				'base': #67c23a,
			),
			'warning': (
				'base': #f2711c,
			),
			'danger': (
				'base': #db2828,
			),
			'error': (
				'base': #db2828,	
			),
			'info': (
				'base': #909399,
			),
	)
);

