@keyframes mymove {
	0% {
		transform: translateX(-50%) translateY(-50%) scale(0.6);
		opacity: 0.6;
	}
	100% {
		transform: translateX(-50%) translateY(-50%) scale(1);
		opacity: 1;
	}
}

/* 消息框 */
.el-message {
	top: 50% !important;
	transform: translateX(-50%) translateY(-50%) !important;
	left: 50%;
	align-items: start;
	min-width: 160px;
	position: absolute;
	padding: 16px 15px;
	border-radius: var(--el-border-radius-extra-large);
	background-color: rgba(var(--el-color-white-rgb),1) !important;
	border-color: var(--el-color-border) !important;
	animation: none !important;
	box-shadow: 0px 0px 10px 1px rgba(var(--el-color-white-rgb),1);
	transition:
		scale 0.1s,
		opacity 0.1s;
	transition: none;
	display: flex;
	animation: mymove 50ms;

	&__icon {
		font-size: 3rem !important;
		padding: 0;
		margin-top: 4px;
		svg {
			width: 100%;
			height: 30px;
			fill: var(--el-color-white);
		}
	}
	&-icon {
		&--success {
			color: var(--el-color-primary);
		}
		&--warning {
			color: var(--el-color-warning);
		}
		&--error {
			color: var(--el-color-danger);
		}
	}
	&__content {
		flex: 1;
		margin: 0;
		line-height: 30px;
		color: var(--el-color-text-secondary) !important;
	}
}


.el-message__content {
	margin: 0 10px;
	line-height: 1.2;
}

.el-message__content pre {
	margin-top: 10px;
}
